<div class="container">
  <h1 style="align-content: center; color: brown;">Reactive Form</h1>
  <hr>
  <div class="row">
    <form [formGroup]='myForm' (ngSubmit)="onSubmit()"> 
      <div class="form-group">
        <label for="username">Uesername</label>
        <input type="text" id="username" class="form-control" formControlName='username'>
        <span *ngIf="this.myForm.get('username')!.invalid && this.myForm.get('username')!.touched"> This field is required</span>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" formControlName='email'>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" formControlName='password'>
      </div>
      <div class="form-group">
        <label for="confirmPassword">confirmPassword</label>
        <input type="password" id="confirmPassword" class="form-control" formControlName='confirmPassword'> 
      </div>
      <div><strong style="font-size: x-large;">Address</strong></div>
        <div class="form-group" formGroupName='address'>
          <div class="form-group">
            <label for="street">Street</label>
            <input type="text" id="street" formControlName="street" class="form-control">
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" id="city" formControlName="city" class="form-control">
          </div>
          <div class="form-group">
            <label for="zipCode">Zib Code</label>
            <input type="number" id="zipCode" formControlName="zipCode" class="form-control">
          </div>
        </div>
      <div><strong style="font-size:x-large;">Status</strong></div>
      <div 
        class="form-group"
        *ngFor="let userStatus of statuses">
        <label>
          <input 
            type="radio" 
            name="Status" 
            formControlName='Status'
            [value]="userStatus"
            > 
            {{userStatus}}
        </label>
      </div>
      <button class="btn btn-primary" type="submit" style="padding: 8px; margin-top: 20px;">Submit Form</button>
    </form>
  </div>
</div>